.page {
    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    &-content {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0 15px;
        box-sizing: border-box;
    }
}
.left {
    &-wrapper {
        background: #1C204B;
        border-radius: 16px;
        flex: 16.333%;
        box-sizing: border-box;
        margin: 0 10px;
    }

}

.card {
    width: 19%;
    margin: 0 5px;
    &-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 83.333%;
    }

}

@media (max-width: 576px) {
    .page-content {
        width: 100%;
        flex-direction: column;
    }

    .left-wrapper {
        margin: 15px auto;
        width: 95%;
    }

    .card-wrapper {
        flex-direction: column;
    }
    .page-wrapper {
        display: block;
    }

    .card {
        width: 95%;
        margin: 15px auto;
    }

}
