<div class="card" appBookMark>
    <div class="card-inner">
        <div class="card-inner-top">
            <p class="category">{{product?.category}}</p>
            <img src="assets/images/Combined%20Shape.png" alt="">
        </div>

        <div class="card-inner-bottom">
            <div class="right">
                <p class="price">{{product?.price}}$</p>
                <p class="description">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
            </div>

            <div class="left">
                <p class="store">InStore</p>
                <p class="qty">120</p>
            </div>
        </div>
    </div>
</div>
