<div class="page-wrapper">

    <div class="page-content">

        <!-- Main left bar -->

        <div class="left-wrapper">
            <div class="left-top">
                <img class="left-image" src="assets/images/Bitmap.png" alt="">


                <div class="left-title">

                    <p class="item">Report for</p>
                    <p class="item">Best<span class="span">Sales</span></p>
                </div>
            </div>

            <div class="left-bottom">
                <ul class="left-list">
                    <li class="left-item">Daily</li>
                    <li class="left-item">Weekly</li>
                    <li class="left-item">Monthly</li>
                </ul>
            </div>

        </div>

        <!-- Right cards sections -->

        <div class="card-wrapper">

            <!-- Card -->
            <div class="card">
                <div class="card-inner">
                    <div class="card-inner-top">
                        <p class="category">men's clothing</p>
                        <img src="assets/images/Combined%20Shape.png" alt="">
                    </div>

                    <div class="card-inner-bottom">
                        <div class="right">
                            <p class="price">109.95$</p>
                            <p class="description">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
                        </div>

                        <div class="left">
                            <p class="store">InStore</p>
                            <p class="qty">120</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="card">
                <div class="card-inner">
                    <div class="card-inner-top">
                        <p class="category">men's clothing</p>
                        <img src="assets/images/Combined%20Shape.png" alt="">
                    </div>

                    <div class="card-inner-bottom">
                        <div class="right">
                            <p class="price">109.95$</p>
                            <p class="description">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
                        </div>

                        <div class="left">
                            <p class="store">InStore</p>
                            <p class="qty">120</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="card">
                <div class="card-inner">
                    <div class="card-inner-top">
                        <p class="category">men's clothing</p>
                        <img src="assets/images/Combined%20Shape.png" alt="">
                    </div>

                    <div class="card-inner-bottom">
                        <div class="right">
                            <p class="price">109.95$</p>
                            <p class="description">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
                        </div>

                        <div class="left">
                            <p class="store">InStore</p>
                            <p class="qty">120</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="card">
                <div class="card-inner">
                    <div class="card-inner-top">
                        <p class="category">men's clothing</p>
                        <img src="assets/images/Combined%20Shape.png" alt="">
                    </div>

                    <div class="card-inner-bottom">
                        <div class="right">
                            <p class="price">109.95$</p>
                            <p class="description">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
                        </div>

                        <div class="left">
                            <p class="store">InStore</p>
                            <p class="qty">120</p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Card -->
            <div class="card">
                <div class="card-inner">
                    <div class="card-inner-top">
                        <p class="category">men's clothing</p>
                        <img src="assets/images/Combined%20Shape.png" alt="">
                    </div>

                    <div class="card-inner-bottom">
                        <div class="right">
                            <p class="price">109.95$</p>
                            <p class="description">Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops</p>
                        </div>

                        <div class="left">
                            <p class="store">InStore</p>
                            <p class="qty">120</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>



</div>
